---
import Footer from '../components/Footer.astro'
import Gallery from '../components/Gallery.astro'
import Services from "../components/Services.astro"
import Player from '../components/Player.astro'
import Navbar from '../components/Navbar.astro'

import { Image } from "astro:assets"
import background from "../images/bg3.jpg"

import airbnb from "../images/airbnb.svg"
import trustpilot from "../images/trustpilot.svg"
import sales from "../images/salesforce.svg"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.cdnfonts.com/css/satoshi?styles=135000" rel="stylesheet">    
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
		<title>Construction | Company</title>
	</head>
	<body class=" max-w-screen-xl mx-auto font-satoshi bg-black text-white">
		<Navbar />
		
		<!-- background image  -->
		<div class=" relative font-satoshi mt-10">
			<Image src={background} alt="background" class=" rounded-3xl"></Image>
				<h1 class=" absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white font-bold text-6xl">Your future is secured with expert construction</h1>
		</div>
		<!-- text  -->
			<div class=" flex justify-center items-center mt-14 font-bold font-satoshi">
				<p>Trusted by</p>
				<Image src={airbnb} alt="sagjhj" width={80} class="ml-8"></Image>
				<Image src={sales} alt="sagjhj" width={60} class="ml-8"></Image>
				<Image src={trustpilot} alt="sagjhj" width={100} class="ml-8"></Image>
			</div>
			
			<Services />
			<Player />
			<Gallery />
			<Footer />
			  
	</body>
</html>