---
import { Image } from "astro:assets"
import logo from "../images/logo.jpg"
import background from "../images/bg3.jpg"
import cable from "../images/cable.jpg"
import brick from "../images/bricks.jpg"

import tabby from "../images/tabby.svg"
import airbnb from "../images/airbnb.svg"
import trustpilot from "../images/trustpilot.svg"
import sales from "../images/salesforce.svg"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.cdnfonts.com/css/satoshi?styles=135000" rel="stylesheet">
                
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
		<title>Construction | Company</title>
	</head>
	<body class=" max-w-screen-xl mx-auto font-Inconsolate">
		<nav class=" font-Inconsolate font-bold flex items-center">
			<a><Image src={logo} alt="company logo" height={80}></Image></a>
			<a href="#" class=" ml-8">About</a>
			<a class=" ml-8">Services</a>
			<a class=" ml-8">Contact Us</a>
		</nav>
		<!-- background image  -->
		<div class=" relative font-satoshi">
			<Image src={background} alt="background" class=" rounded-3xl"></Image>
				<h1 class=" absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white font-bold text-6xl">Your future is secured with expert construction</h1>
		</div>
		<!-- text  -->
			<div class=" flex items-center mt-8 font-bold font-satoshi">
				<p>Trusted by</p>
				<Image src={tabby} alt="sagjhj" width={50} class="ml-8"></Image>
				<Image src={airbnb} alt="sagjhj" width={80} class="ml-8"></Image>
				<Image src={sales} alt="sagjhj" width={60} class="ml-8"></Image>
				<Image src={trustpilot} alt="sagjhj" width={100} class="ml-8"></Image>
			</div>

			<div class=" font-bold flex font-satoshi text-4xl justify-center items-center mt-8">
				<h2 class=" text-center">Three-step process, </h2> <h2 class=" italic text-amber-600 font-Inconsolate"> lasting results</h2>
			</div>
			<p class=" text-center mt-8">Three simple steps from consultation to completion</p>
			<div class=" flex justify-between items-center mt-10">
				<div class=" h-16 w-16 bg-yellow-100 rounded-full text-4xl flex justify-center items-center font-satoshi">1</div>
				<div class=" h-16 w-16 bg-yellow-100 rounded-full text-4xl flex justify-center items-center font-satoshi">2</div>
				<div class=" h-16 w-16 bg-yellow-100 rounded-full text-4xl flex justify-center items-center font-satoshi">3</div>
			</div>
			
			<div class=" bg-yellow-100 mt-24">
				<Image src={logo} alt="vbcvgfhjkl" height={80} class=" mx-auto rounded-full mt-8"></Image>

				<div class=" text-center mt-10">
					<h1>Econo Covers more than you think</h1>
					<p class=" mt-4">From elegant cabrons, stone work, roofing and roofing tailors, sand, ballast, gypsum boards and  cement etc</p>
				</div>

				<div>
					<h2 class=" text-center mt-10">Here is what we offer</h2>
					<div>
						<div class=" flex justify-center items-center mt-10">
							<div class=" w-80 h-60 ml-8 bg-slate-400 rounded-lg">
								<span class=" ml-2 font-bold text-2xl">Sand</span>
								<p class=" ml-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio cum nostrum porro incidunt minus magni eaque 
									obcaecati eveniet earum ullam odit labore expedita, nulla sunt! Voluptate dolorem fugiat quam accusamus.</p>
							</div>
							<div class=" w-80 h-60 ml-8 bg-slate-400 rounded-lg">
								<span class=" ml-2 font-bold text-2xl">Cement</span>
								<p class=" ml-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio cum nostrum porro incidunt minus magni eaque 
									obcaecati eveniet earum ullam odit labore expedita, nulla sunt! Voluptate dolorem fugiat quam accusamus.</p>
							</div>
							<div class=" w-80 h-60 ml-8 bg-slate-400 rounded-lg">
								<span class=" ml-2 font-bold text-2xl">Steel Bars</span>
								<p class=" ml-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio cum nostrum porro incidunt minus magni eaque 
									obcaecati eveniet earum ullam odit labore expedita, nulla sunt! Voluptate dolorem fugiat quam accusamus.</p>
							</div>
						</div>
					</div>
					<div>
						<div class=" flex justify-center items-center mt-10">
							<div class=" w-80 h-60 ml-8 bg-slate-400 rounded-lg">
								<span class=" ml-2 font-bold text-2xl">Sand</span>
								<p class=" ml-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio cum nostrum porro incidunt minus magni eaque 
									obcaecati eveniet earum ullam odit labore expedita, nulla sunt! Voluptate dolorem fugiat quam accusamus.</p>
							</div>
							<div class=" w-80 h-60 ml-8 bg-slate-400 rounded-lg">
								<span class=" ml-2 font-bold text-2xl">Cement</span>
								<p class=" ml-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio cum nostrum porro incidunt minus magni eaque 
									obcaecati eveniet earum ullam odit labore expedita, nulla sunt! Voluptate dolorem fugiat quam accusamus.</p>
							</div>
							<div class=" w-80 h-60 ml-8 bg-slate-400 rounded-lg">
								<span class=" ml-2 font-bold text-2xl">Steel Bars</span>
								<p class=" ml-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio cum nostrum porro incidunt minus magni eaque 
									obcaecati eveniet earum ullam odit labore expedita, nulla sunt! Voluptate dolorem fugiat quam accusamus.</p>
							</div>
						</div>
					</div>
				</div>	
			</div>

			<div class=" text-center font-bold text-2xl mt-6">
				<h2>Gallery</h2>
				<!-- <div class=" flex justify-center items-center">
					<Image src={cable} alt="ghjkljhgfvb" width={300} class=" rounded-2xl"></Image>
					<Image src={brick} alt="ghjkljhgfvb" width={300} class=" rounded-2xl ml-4"></Image>
					<Image src={cable} alt="ghjkljhgfvb" width={300} class=" rounded-2xl ml-4"></Image>
				</div> -->
			</div>
	</body>
</html>