---
import { Image } from "astro:assets"
import logo from "../images/logo.jpg"
import background from "../images/bg3.jpg"
import deliver from "../images/deliver.png"
import install from "../images/install.png"
import request from "../images/request.png"

import tabby from "../images/tabby.svg"
import airbnb from "../images/airbnb.svg"
import trustpilot from "../images/trustpilot.svg"
import sales from "../images/salesforce.svg"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.cdnfonts.com/css/satoshi?styles=135000" rel="stylesheet">    
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
		<title>Construction | Company</title>
	</head>
	<body class=" max-w-screen-xl mx-auto font-Inconsolate bg-black text-white">
		<nav class=" font-Inconsolate font-bold flex items-center">
			<a><Image src={logo} alt="company logo" height={80}></Image></a>
			<a href="#" class=" ml-8">About</a>
			<a class=" ml-8">Services</a>
			<a class=" ml-8">Contact Us</a>
		</nav>
		<!-- background image  -->
		<div class=" relative font-satoshi">
			<Image src={background} alt="background" class=" rounded-3xl"></Image>
				<h1 class=" absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white font-bold text-6xl">Your future is secured with expert construction</h1>
		</div>
		<!-- text  -->
			<div class=" flex justify-center items-center mt-8 font-bold font-satoshi">
				<p>Trusted by</p>
				<Image src={airbnb} alt="sagjhj" width={80} class="ml-8"></Image>
				<Image src={sales} alt="sagjhj" width={60} class="ml-8"></Image>
				<Image src={trustpilot} alt="sagjhj" width={100} class="ml-8"></Image>
			</div>

			<div class=" font-bold flex font-satoshi text-4xl justify-center items-center mt-8">
				<h2 class=" text-center">Three-step process and lasting results</h2>
			</div>
			<p class=" text-center mt-8">Three simple steps from consultation to completion</p>
			<p>Colors used: Neon blue (#2272FF), black (#1D1D1)</p>
			<div class=" block lg:flex lg:mt-10 font-satoshi">
				<div class=" ml-4 mt-8">
					<Image src={request} alt="hgjkhgfhjkh" width={40}></Image>
					<span class=" text-emerald-500">Request</span>
					<p>Schedule your time and make a call to us and see whats on offer</p>
				</div>
				<div class=" ml-4 mt-8">
					<Image src={deliver} alt="hgjkhgfhjkh" width={40}></Image>
					<span class=" text-fuchsia-500">Deliver</span>
					<p>Schedule your time and make a call to us and see whats on offer</p>
				</div>
				<div class=" ml-4 mt-8">
					<Image src={install} alt="hgjkhgfhjkh" width={40}></Image>
					<span class=" text-sky-500">Installation</span>
					<p>Schedule your time and make a call to us and see whats on offer</p>
				</div>
			</div>
			
			<div class=" bg-amber-50 mt-24 font-satoshi text-black rounded-3xl">
				<Image src={logo} alt="vbcvgfhjkl" height={80} class=" mx-auto rounded-sm mt-8"></Image>

				<div class=" text-center mt-10">
					<h1 class=" text-3xl">Econo Covers more than you think</h1>
					<p class=" mt-4">From elegant cabrons, stone work, roofing and roofing tailors, sand, ballast, gypsum boards and  cement etc</p>
				</div>

				<div>
					<h2 class=" text-center mt-10">Here is what we offer</h2>
					<div>
						<div class=" block lg:flex justify-center items-center mt-10">
							<div class=" w-auto lg:w-80 h-60 mt-10 ml-8 bg-lime-50 rounded-lg">
								<span class=" ml-2 font-bold text-2xl">Sand</span>
								<p class=" ml-2">Quality sand that has been sifted and checked by our experts to ensure it meets our strict quality standards.</p>
							</div>
							<div class=" w-auto lg:w-80 h-60 mt-10 ml-8 bg-lime-50 rounded-lg">
								<span class=" ml-2 font-bold text-2xl">Cement</span>
								<p class=" ml-2">We source our cement from companies you have come to know and trust.</p>
							</div>
							<div class=" w-auto lg:w-80 h-60 mt-10 ml-8 bg-lime-50 rounded-lg">
								<span class=" ml-2 font-bold text-2xl">Steel Bars</span>
								<p class=" ml-2">Industrial grade steel bars that are guaranteed to hold any construction of your choice.</p>
							</div>
						</div>
					</div>
					<div>
						<div class=" block justify-center items-center lg:flex lg:justify-center lg:items-center mt-10">
							<div class="w-auto lg:w-80 h-60 mt-10 ml-8 bg-lime-50 rounded-lg">
								<span class=" ml-2 font-bold text-2xl">Stones</span>
								<p class=" ml-2">High quality stones and stonework sourced from Kenyan mines by kenyans and has been precision
									cut to meet your requirements.</p>
							</div>
							<div class=" w-auto lg:w-80 h-60 mt-10 ml-8 bg-lime-50 rounded-lg">
								<span class=" ml-2 font-bold text-2xl">Cabrons</span>
								<p class=" ml-2">All purpose carbs that can be used anywhere and everywhere. They have been stress tested to meet
									our very high standard guidelines.
								</p>
							</div>
							<div class=" w-auto lg:w-80 h-60 mt-10 ml-8 bg-lime-50 rounded-lg">
								<span class=" ml-2 font-bold text-2xl">Cladding</span>
								<p class=" ml-2">Transform your space with our exquisite cladding solutions! Elevate the aesthetics and durability 
									of your building with our premium cladding materials.</p>
							</div>
						</div>
					</div>
				</div>	
			</div>

			<div class=" text-center font-bold text-2xl mt-6">
				<h2>Gallery</h2>
				<!-- <div class=" flex justify-center items-center">
					<Image src={cable} alt="ghjkljhgfvb" width={300} class=" rounded-2xl"></Image>
					<Image src={brick} alt="ghjkljhgfvb" width={300} class=" rounded-2xl ml-4"></Image>
					<Image src={cable} alt="ghjkljhgfvb" width={300} class=" rounded-2xl ml-4"></Image>
				</div> -->
			</div>
	</body>
</html>